# Security (Authentication)
# Pre-Shared Key (PSK) required in the x-esp32-api-key header of incoming requests.
ESP32_API_KEY=

MAILJET_API_KEY=xxxxxxxxxx
MAILJET_SECRET_KEY=xxxxxxxxxxxxxx
ALERT_FROM_EMAIL=xxxxxxxxxxxxxx
